@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.colors{
    --lightText: rgb(255, 255, 255);
    --orangeColor: #FD5420;
    --darkBackground: rgba(0, 0, 0, 0.37);
    --darkTextColor: #0a0a0a;
    --lightBackground: #F6F7F6;
}

body{
    background-color: var(--lightBackground);
}

/* HEADER SECTION */

.headerSection{
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--lightText);
    height: 100vh;
    background-color: var(--darkBackground);
}
.header_backgroundImage{
    background-image: url('./Assetes/landing\ Page.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    z-index: -1;
}
.header_Container{
    padding: 2rem 8rem;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar div:first-child{
    text-align: center;
    padding: 0.3rem;
    background-color: var(--darkBackground);
    border: 2px solid var(--orangeColor);
    cursor: pointer;
}
.Navbar div:first-child span{
    font-size: 2rem;
    font-weight: bold;
}
.Navbar div:first-child p{
    font-size: 1rem;
}
.Navbar div:nth-child(2){
    border: 2px solid var(--orangeColor);
    display: flex;
}
.Navbar div:nth-child(2) p{
    padding: 1.5rem 1.8rem !important;
    transition: 0.5s;
    background-color: var(--darkBackground);
}
.Navbar div:nth-child(2) p:hover{
    background-color: var(--lightText);
    color: var(--darkTextColor);
    padding: 1.5rem 1.8rem;
    cursor: pointer;
}
.hamburger_icon{
    display: none;
}
.header_content{
    height: 80vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.header_content h1{
    font-size: 6.5rem;
}
.header_content p{
    font-size: 2rem;
}
.header_content_Button{
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 450px;
}
.header_content span span:first-child{
    padding: 1.5rem 3.5rem;
    background-color: var(--orangeColor);
    color: var(--lightText);
    white-space: nowrap;
}
.header_content span span:first-child:hover{
    background-color: var(--darkTextColor);
    color: var(--orangeColor);
    border: 1px solid var(--orangeColor);
    cursor: pointer;
    transition: 0.5s;
}
.header_content span span:last-child{
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--lightText);
    white-space: nowrap;
}
.header_content span span:last-child:hover{
    background-color: var(--orangeColor);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

/* WHAT WE DO SECTION */

.WhatWeDo{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 4rem 8rem;
}
.WhatWeDoMore{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.WhatWeDoMore div> p:first-child{
    font-size: 1.3rem;
}

.WhatWeDoMore div p:nth-child(n+2){
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--orangeColor);
}
.WhatWeDoMore span{
    background-color: var(--orangeColor);
    padding: 1.5rem 4rem;
    color: var(--lightBackground);
}
.WhatWeDoMore span:hover{
    background-color: var(--lightBackground);
    padding: 1.5rem 4rem;
    border: 1px solid var(--darkTextColor);
    cursor: pointer;
    color: var(--darkTextColor);
}
.Commercial{
    display: flex;
    align-items: center;
}

.Commercial div{
    padding: 0 9.5rem 0 0;
}
.commercialImage{
    width: 765px;
    height: 596px;
    object-fit: cover;
    object-position: center;
}
.Commercial p:first-child{
    font-size: 2rem;
    font-weight: bold;
}
.Commercial p{
    line-height: 1.9em;
    font-family: 'Poppins', sans-serif;
}
.Commercial ul{
    line-height: 1.9em;
    font-family: 'Poppins', sans-serif;
    padding: 0 4rem 0 1rem;
}
.Infrastructure{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Infrastructure p:first-child{
    font-size: 2rem;
    font-weight: bold;
}
.Infrastructure p{
    line-height: 1.9em;
    font-family: 'Poppins', sans-serif;
    padding: 0 4rem 0 9.5rem;
}
.Infrastructure ul{
    line-height: 1.9em;
    font-family: 'Poppins', sans-serif;
    padding: 0 4rem 0 11rem;
}
.imageContainer{
    width: 765px;
    height: 896px;
    position: relative;
}
.InfrastructureImage{
    background-image: url('./Assetes/Dies\ and\ Moulding.jpeg');
    height: 100%;
    width: 665px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
.Residential{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.Residential div p:first-child{
    font-size: 2rem;
    font-weight: bold;
}
.Residential div {
    padding: 0 8rem;
}
.Residential div p:nth-child(5){
    padding: 3rem 5rem 0 0;
    line-height: 1.9em;
    font-family: 'Poppins', sans-serif;
}

/* WHO WE ARE SECTION */

.WhoWeAre{
    width: 100%;
    height: 120vh;
    position: relative;
    background-color: var(--darkBackground);
    margin-top: 7rem;
    overflow: hidden;
}
.WhoWeArebackground{
    width: 100%;
    height: 100%;
    background-image: url('./Assetes/Fabricated\ Parts.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
.aboutContant{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 7rem 5rem;
}
.aboutCompany{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
}
.aboutCompany p:first-child{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--lightText);
}
.aboutCompany p:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: var(--orangeColor);
}
.paraAbout{
    font-size: 1rem;
    line-height: 1.9em;
    padding: 2rem 1rem;
    color: var(--lightText);
    background-color: var(--darkBackground);
    border-radius: 10px;
}
.moreDetails{
    display: flex;
    gap: 3rem;
}
.moreDetails div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: 0.6rem;
}
.moreDetails p:first-child{
    font-size: 4rem;
    color: var(--lightText);
}
.moreDetails p:nth-child(2){
    font-size: 1rem;
    color: var(--lightText);
}
.moreDetails div p:last-child{
    width: 50px;
    height: 1px;
    background-color: var(--lightText);
}

/* OUR SERVICES SECTION  */

.ourServicesHeader{
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    align-items: center;
    margin: 5rem 0;
}
.ourServicesHeader div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ourServicesHeader p:nth-child(2){
    font-size: 2.8rem;
    width: 70%;
    color: var(--orangeColor);
    font-weight: bold;
}
.ourServicesHeader{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    line-height: 1.9em;
}
.ourServicesHeader ul ,.ourServicesHeader li{
    padding: 0 0 0 1rem;
    font-family: 'Poppins', sans-serif;
}
.ourServicesHeader span{
    background-color: var(--orangeColor);
    height: fit-content;
    padding: 1.5rem 4rem;
    white-space: nowrap;
}
.sliderImage{
    display: flex;
    padding: 1rem 8rem;
    justify-content: space-between;
}
.sliderImage div:nth-child(2n+1) img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .9s;
}
.sliderImage div:nth-child(2n+1) img:hover{
    transform: scale(1.2);
    opacity: 0.5;
}
.sliderImage div:nth-child(2n) img:hover{
    transform: scale(1.2);
    opacity: 0.5;
}
.sliderImage div:nth-child(2n) img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .9s;
}
.sliderImage div:nth-child(2n+1){
    width: 330px;
    height: 600px;
    overflow: hidden;
    background-color: var(--darkTextColor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderImage div p{
    display: none;
}
.sliderImage div:hover p{
    display: block;
    position: absolute;
    color: var(--lightText);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.sliderImage div:nth-child(2n){
    width: 550px;
    height: 600px;
    overflow: hidden;
    background-color: var(--darkTextColor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER SECTION */

.Footer{
    padding: 1rem 8rem;
    margin-top: 5rem;
}
.aboutSecFooter{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid;
    padding: 5rem 0 0 0;
}
.moreInfo{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CopywriteSection{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 2rem 0;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}
.moreInfoSec{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.moreInfoSec span:first-child{
    font-size: 1.4rem;
    font-weight: bold;
}
.moreInfoSec p{
    font-size: 0.9rem;
    line-height: 1.9em;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.moreInfo div:nth-child(4){
    background-color: var(--orangeColor);
    padding: 1.5rem 3rem;
}
.compName{
    text-align: center;
}
.compName p:first-child{
    font-size: 2rem;
    font-weight: bold;
}
.compName p:last-child{
    font-size: 0.8rem;
}

/* MEDIA QUERRY */

@media only screen and (max-width: 480px){
    .header_Container,
    .ourServicesHeader,
    .Footer,
    .WhatWeDo,
    .aboutContant,
    .ourServicesHeader {
        padding: 2rem;
    }
    .Navbar div:nth-child(2) {
        display: none;
    }
    .hamburger_icon{
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }
    .header_backgroundImage{
        background-attachment: unset;
        height: 100%;
    }
    .headerSection{
        height: 90vh;
    }
    .Commercial div,.Infrastructure p, .Residential div p:nth-child(5),.sliderImage{
        padding: 0;
        margin-top: 1rem;
    }
    .ourServicesHeader {
        margin: 0;
    }
    .aboutContant{
        white-space: nowrap;
    }
    .Commercial,.Infrastructure, .Residential{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .aboutSecFooter,.moreInfo,.CopywriteSection, .ourServicesHeader{
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }
    .commercialImage,.resImage{
        width: 320px;
        height: fit-content;
    }
    .header_content h1{
        font-size: 3.3rem;
        padding: 0 0 1rem 0;
    }
    .header_content p, .ourServicesHeader p:nth-child(2){
        font-size: 1.7rem;
        width: 90%;
    }
    .header_content{
        height: 70vh;
    }
    .header_content, .ourServicesHeader p:last-child{
        width: 100%;
    }
    .ourServicesHeader p:last-child,.cardBoxes div{
        gap: 1rem;
    }
    .header_content span{
        display: flex;
    }
    .imageContainer, .ourServicesHeader span{
        width: fit-content;
        height: fit-content;
    }
    .Infrastructure{
        margin: 0;
    }
    .moreDetails{
        flex-direction: column;
        gap: 2rem;
    }
    .aboutCompany{
        gap: 0.5rem;
        width: 100%;
    }
    .paraAbout{
        width: 100%;
        white-space: normal;
    }
    .moreDetails p:first-child{
        font-size: 3rem;
        font-weight: bold;
    }
    .WhoWeArebackground{
        background-attachment: unset;
        height: 100%;
    }
    .WhoWeAre{
        height: fit-content;
    }
    .InfrastructureImage{
        width: 365px;
        height: 500px;
        background-attachment: unset;
    }
    .header_content span span:first-child, .header_content span span:last-child,.WhatWeDo span {
        padding: 1rem 1.5rem;
        white-space: nowrap;
    }
    .cardBoxes div{
        flex-direction: column;
    }
    .WhatWeDoMore{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .WhatWeDoMore div p:nth-child(n+2),.aboutCompany p:nth-child(2){
        font-size: 2rem;
    }
    .WhatWeDo{
        gap: 3rem;
    }
    .sliderImage div:nth-child(2n+1){
        width: 90px;
        height: 150px;
    }
    .sliderImage div:nth-child(2n){
        width: 200px;
        height: 150px;
    }
    .Infrastructure ul{
        padding: 0 1rem;
    }
    .header_content_Button{
        height: 55px;
        width: 100%;
    }
    .moreInfoSec{
        margin-top: 5rem;
    }
}